body {
  background: url('Assets/train.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  max-width: 100%; 
  overflow-x: hidden;
}

.card_list_el {
  
  padding: 10px 20px;
  /*border-bottom: 5px solid #000000;*/
  /*border: 2px solid #000000;*/
  /*width: 80%;
  margin-left: 10%;*/
  
  &:last-child {
    border-bottom: none;
  }
  
  &:nth-child(even) {
    background: #f8f8f8;
  }
}

.card {

	width: 100%;
	margin-left: 0%;
}

.card_list {

  position: absolute;
  top: 95px;
  bottom: 0px;
  left: 270px;
  right: 0px;
  overflow: scroll;
  margin: 0;
  padding: 0px;
  
  /*border: 5px solid #000000;*/
  
  font-size: 16px;
  font-family: Arial, sans-serif;
  
  // Again, this is where the magic happens
  -webkit-overflow-scrolling: touch;
}